.main {
    --yellow: #FDFDBD;
    --green: #C8FFD4;
    --blue: #B8E8FC;
    --purple: #B1AFFF;

    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--purple);
}

.title {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 5rem;
}

.prompt {
    display: flex;
}

.button {
    display: block;
    margin: 0 auto;
}

.errorMessage {
    width: 20rem;
    margin: 0 auto;
    font-size: 0.75rem;
    color: var(--yellow);
}

.graph {
    margin: 0 auto;
    width: 20rem;
    padding: 1rem;
    /* background-color: lime; */
}

.row {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.cell {
    /* background-color: pink; */
    padding: 0.5rem;
    min-width: 1rem;
    text-align: center;
}