.main {
    --yellow: #FDFDBD;
    --green: #C8FFD4;
    --blue: #B8E8FC;
    --purple: #B1AFFF;
}

.graph {
    width: 20rem;
    padding: 1rem;
    /* background-color: lime; */
}

.row {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.cell {
    /* background-color: pink; */
    padding: 0.5rem;
    width: 2rem;
    text-align: center;
}