.main {
    --yellow: #FDFDBD;
    --green: #C8FFD4;
    --blue: #B8E8FC;
    --purple: #B1AFFF;

    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--purple);
}

.title {
    text-align: center;
    font-size: 5rem;
}

.form {
    margin-top: 2rem;
}

.prompt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wordWrapper {
    background-color: var(--purple);
    filter: brightness(125%);
    border-radius: 0.35rem;
    transition: 0.25s;
}

.prompt input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 0.5rem;
    text-align: center;
    width: 8rem;
    font-weight: 700;
    transition: 0.1s;
}

.wordWrapper:hover {
    filter: brightness(115%);
    /* background-color: var(--yellow); */
}

.prompt input:focus {
    outline: none;
    /* background-color: var(--yellow); */
}

.button {
    display: block;
    margin: 1rem auto 0.25rem auto;
    border-radius: 0.5rem;
    border: 1px solid black;
    padding: 0.35rem;
    font-weight: 700;
    background-color: var(--green);
    transition: 0.1s;
}

.button:hover {
    filter: brightness(85%);
}

.errorMessage {
    width: 20rem;
    margin: 0 auto;
    font-size: 0.75rem;
    color: red;
}

.graph {
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--purple);
    filter: brightness(120%);
    border-radius: 0.5rem;
    border: 1px solid black;
}

.row {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.cell {
    /* background-color: pink; */
    padding: 0.5rem;
    min-width: 1rem;
    text-align: center;
}